<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About the Workshop</h2>
                    <!-- <h3 class="section-subheading text-muted"> </h3> -->
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-justify">
                            <p class="large text-muted">                    
                                <p>Over the past few years, consumer behavior has shifted from traditional in-store shopping to online shopping. For example, eCommerce sales have grown from around 5% of total US sales in 2012 to around 14% in year 2021 and more than 25% growth in sales globally. This rapid growth of eCommerce has created new challenges and vital new requirements for intelligent information retrieval systems.
                                </p>
                                <p>
                                <b>Scalable systems</b>
                                </p>
                                <p>
                                    Since the pandemic hit, eCommerce became an important part of people’s routine and they started using online shopping for smallest grocery items to big electronics as well as cars. With such a large assortment of products and millions of users, achieving higher scalability without losing accuracy is a leading concern for information retrieval systems for eCommerce.
                                </p>
                                <p>
                                <b>Interactive Systems</b>
                                </p>
                                <p>
                                    The diverse buyers make the relevance of the results highly subjective, because relevance varies for different buyers. The most suitable and intuitive solution to this problem is to make the system interactive and provide correct relevance for different users. Hence, interactive information retrieval systems are becoming necessity in eCommerce.
                                </p>
                                <p>
                                <b>System improvement</b>
                                </p>
                                <p>
                                    To handle sudden change in buyers’ behavior, industries adopted existing sub-optimal in- formation retrieval techniques for various eCommerce tasks. Parallelly, they also started exploring/researching for better solutions and in dire need of help from research community
                                </p>
                                <p> The objective of this workshop is to bring a diverse set of practitioners and researchers together and encourage them to share their ideas, challenges & solutions and research. This workshop will provide a forum to discuss and learn the latest trends for interactive and scalable information retrieval approaches for eCommerce.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
