<!-- Team Section -->
    <section id="accepted_papers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accepted Papers</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div> 
        	    <div class="row">
        	    	<div class="col-lg-8 col-lg-offset-2 text-justify">
        	        	<p class="large text-muted">
                        <script>
                        function myFunction(id) {
                          var x = document.getElementById(id);
                          if (x.style.display === "none") {
                            x.style.display = "block";
                          } else {
                            x.style.display = "none";
                          }
                        }
                        </script>
                        
                        <ol type="1">
         				<li><strong>ROSE: Robust Caches for Amazon Product Search</strong>: Chen Luo, Vihan Lakshman, Anshumali Shrivastava, Tianyu Cao, Sreyashi Nag, Rahul Goutam, Hanqing Lu, Yiwei Song and Bing Yin. 
                        [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_9.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] 
                        [<a href="#accepted_papers" style="color:#F1C40F;" onclick='myFunction("paper_9")'>BibTex</a>]
                        <div id="paper_9" style="display:none;white-space:pre-wrap">
@inproceedings{isir_ecom2022_9,
title={ROSE: Robust Caches for Amazon Product Search},
author={Chen Luo, Vihan Lakshman, Anshumali Shrivastava, Tianyu Cao, Sreyashi Nag, Rahul Goutam, Hanqing Lu, Yiwei Song and Bing Yin},
booktitle={Proceedings of the International Workshop on Interactive and Scalable Information Retrieval methods for eCommerce (ISIR-eCom)},
year={2022}
}
                        </div>

                            <!-- [<a href="https://arxiv.org/abs/1806.03790" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>ORDSIM: Ordinal Regression for E-Commerce QuerySimilarity Prediction</strong>: Md. Ahsanul Kabir, Mohammad Al Hasan, Aritra Mandal, Daniel Tunkelang and Zhe Wu. 
                        [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_8.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] 
                        [<a href="#accepted_papers" style="color:#F1C40F;" onclick='myFunction("paper_8")'>BibTex</a>]
                        <div id="paper_8" style="display:none;white-space:pre-wrap">
@inproceedings{isir_ecom2022_8,
title={ORDSIM: Ordinal Regression for E-Commerce QuerySimilarity Prediction},
author={Md. Ahsanul Kabir, Mohammad Al Hasan, Aritra Mandal, Daniel Tunkelang and Zhe Wu},
booktitle={Proceedings of the International Workshop on Interactive and Scalable Information Retrieval methods for eCommerce (ISIR-eCom)},
year={2022}
}
                        </div>
                            <!-- [<a href="https://arxiv.org/abs/1806.05004" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>Embracing Structure in Data for Billion-Scale Semantic Product Search</strong>: Vihan Lakshman, Choon Hui Teo, Xiaowen Chu, Abhinandan Patni, Pooja Maknikar and Svn Vishwanathan. 
                        [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_3.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] 
                        [<a href="#accepted_papers" style="color:#F1C40F;" onclick='myFunction("paper_3")'>BibTex</a>]
                        <div id="paper_3" style="display:none;white-space:pre-wrap">
@inproceedings{isir_ecom2022_3,
title={Embracing Structure in Data for Billion-Scale Semantic Product Search},
author={Vihan Lakshman, Choon Hui Teo, Xiaowen Chu, Abhinandan Patni, Pooja Maknikar and Svn Vishwanathan},
booktitle={Proceedings of the International Workshop on Interactive and Scalable Information Retrieval methods for eCommerce (ISIR-eCom)},
year={2022}
}
                        </div>
                            <!-- [<a href="https://arxiv.org/abs/1806.04735" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>CatBERT: An Incrementally Trained Language Representation Model for E-Commerce Applications</strong>: Tejaswini Mallavarapu, Ying Xie and Simon Hughes. 
                        [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_5.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] 
                        [<a href="#accepted_papers" style="color:#F1C40F;" onclick='myFunction("paper_5")'>BibTex</a>]
                        <div id="paper_5" style="display:none;white-space:pre-wrap">
@inproceedings{isir_ecom2022_5,
title={CatBERT: An Incrementally Trained Language Representation Model for E-Commerce Applications},
author={Tejaswini Mallavarapu, Ying Xie and Simon Hughes},
booktitle={Proceedings of the International Workshop on Interactive and Scalable Information Retrieval methods for eCommerce (ISIR-eCom)},
year={2022}
}
                        </div>
                            <!-- [<a href="https://arxiv.org/abs/1804.06905" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>E-commerce Product Attribute Value Validation and Correction Based on Transformers</strong>: Le Yu, Haozheng Tian, Yun Zhu, Simon Hughes and Aleksandar Velkoski. 
                        [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_7.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] 
                        [<a href="#accepted_papers" style="color:#F1C40F;" onclick='myFunction("paper_7")'>BibTex</a>]
                        <div id="paper_7" style="display:none;white-space:pre-wrap">
@inproceedings{isir_ecom2022_7,
title={E-commerce Product Attribute Value Validation and Correction Based on Transformers},
author={Le Yu, Haozheng Tian, Yun Zhu, Simon Hughes and Aleksandar Velkoski},
bobooktitle={Proceedings of the International Workshop on Interactive and Scalable Information Retrieval methods for eCommerce (ISIR-eCom)},
year={2022}
}
                        </div>
                            <!-- [<a href="https://arxiv.org/abs/1806.08694" target="\_blank">Link</a>] -->
                        </li> </br>
                        </ol>
        			    </p>
        		</div>
    	    </div>
        </div>
    </section>
