<!-- Team Section -->
    <section id="organizers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Organizers</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div> 
            <div class="row text-center">
<!--                <div class="col-xs-1">
                </div> -->
                {% for member in site.people %}
                <div class="col-xs-2">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <a href="{{ member.url }}" target="\_blank">
                            <h5>{{ member.name }}</h5>
                        </a>
                        <!-- <h4>{{ member.name }}</h4> -->
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
    	    <div class="row">
    	    	<div class="col-lg-8 col-lg-offset-2 text-justify">
    	        	<p class="large text-muted">
    				<h3>Program Committee:</h3>
    				<li>Thomas Packer, The Home Depot, USA</li>
                    <li>Jake Gao, Walmart Global Tech, USA</li>
    				<li>Yaxin Zhu, UMass Amherst, USA</li>
    				<li>Mohit Sharma, Google, USA</li>
    				<li>Nguyen Vo, Walmart Global Tech, USA</li>
    			    </p>
    		    </div>
    	    </div>
	    
        </div>
    </section>
