<!-- About Section -->
    <section id="program" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2 text-justify">
	                        	<style>
									table {
									  border-collapse: collapse;
									  width: 120%;
									}

									th, td {
									  padding: 8px;
									  text-align: left;
									  border-bottom: 1px solid #7B7D7D;
									}

									tr:hover {background-color: #D6EEEE;}
								</style>
	                            <p class="large text-muted">
	                            	<h4>Registration: <a href="https://www.wsdm-conference.org/2022/registration/" target="\_blank">WSDM 2022</a> </h4> 
								<table>
								  <tr>
								    <th width="20%">Time (MST)</th>
								    <th width="20%">Talk</th>
								    <th width="80%">Title</th>
								  </tr>
								  <tr>
								    <td width="20%">10:50am - 11:00am</td>
								    <td width="20%">Opening Remarks</td>
								    <td width="80%">Welcome to ISIR-eCom</td>
								  </tr>
								  <tr>
								    <td width="20%">11:00am - 11:45am</td>
								    <td width="20%">Maarten de Rijke</td>
								    <td width="80%">Understanding Multi-channel Customer Behavior. [<a href="https://isir-ecom.github.io/papers/Maarten-de-Rijke_ISIReCom2022.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] </td>
								  </tr>
								  <tr>
								    <td width="20%">11:45am - 12:30pm</td>
								    <td width="20%">Khalifeh Al Jadda</td>
								    <td width="60%">Building Multi Modal Search and Recommender Systems at Scale. [<a href="https://isir-ecom.github.io/papers/Khalifeh_Keynote_ISIReCom2022.pdf" target="_blank" style="color:#F1C40F;">PDF</a>]</td>
								  </tr>
								  <tr>
								    <td width="20%">12:30pm - 12:50pm</td>
								    <td width="20%">Full Paper 1</td>
								    <td width="60%">ROSE: Robust Caches for Amazon Product Search. [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_9.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] </td>
								  </tr>
								  <tr>
								    <td width="20%">12:50pm - 1:10pm</td>
								    <td width="20%">Full Paper 2</td>
								    <td width="60%">ORDSIM: Ordinal Regression for E-Commerce QuerySimilarity Prediction. [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_8.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] </td>
								  </tr>
								  <tr>
								    <td width="20%">1:10pm - 1:30pm</td>
								    <td width="20%">Full Paper 3</td>
								    <td width="60%">Embracing Structure in Data for Billion-Scale Semantic Product Search. [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_3.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] </td>
								  </tr>
								  <tr>
								    <td width="20%">1:30pm - 1:45pm</td>
								    <td width="20%">Break</td>
								    <td width="60%"></td>
								  </tr>
								  <tr>
								    <td width="20%">1:45pm - 2:45pm</td>
								    <td width="20%">Panel Discussion</td>
								    <td width="60%"><a href="https://isir-ecom.github.io/#panel" style="color:#F1C40F;">Opportunities and Challenges in conversational search and recommendation in eCommerce</a></td>
								  </tr>
								  <tr>
								    <td width="20%">2:45pm - 3:00pm</td>
								    <td width="20%">Short Paper 1</td>
								    <td width="60%">CatBERT: An Incrementally Trained Language Representation Model for E-Commerce Applications. [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_5.pdf" target="_blank" style="color:#F1C40F;">PDF</a>] </td>
								  </tr>
								  <tr>
								    <td width="20%">3:00pm - 3:15pm</td>
								    <td width="20%">Short Paper 2</td>
								    <td width="60%">E-commerce Product Attribute Value Validation and Correction Based on Transformers. [<a href="https://isir-ecom.github.io/papers/isir-ecom-2022_paper_7.pdf" target="_blank" target="_blank" style="color:#F1C40F;">PDF</a>] </td>
								  </tr>
								  <tr>
								    <td width="20%">3:15pm - 4:00pm</td>
								    <td width="20%">Yanjie Fu</td>
								    <td width="60%">Merging Representation Learning and Interactive Intelligence for User Profiling. [<a href="https://isir-ecom.github.io/papers/Yanjie_ISIReCom2022.pdf" target="_blank" style="color:#F1C40F;">PDF</a>]</td>
								  </tr>
								  <tr>
								    <td width="20%">4:00pm - 4:45pm</td>
								    <td width="20%">Xiaokui Xiao</td>
								    <td width="60%">Efficient Network Embeddings for Large Graphs [<a href="https://isir-ecom.github.io/papers/NeurIPS-2021-eignn-efficient-infinite-depth-graph-neural-networks-Paper.pdf" target="_blank" style="color:#F1C40F;">PDF</a>]</td>
								  </tr>
								  <tr>
								    <td width="20%">4:45pm - 4:50pm</td>
								    <td width="20%">Closing Notes</td>
								    <td width="60%"></td>
								  </tr>
								</table>
							 </div>
	                    </div>
	                </div>
			     </div>
            </div>
        </div>
    </section>
